body {
    font-family: Arial, sans-serif;
    background-color: #333; 
    height: 100vh;
    margin: 0;
}

#meu-botao {
    background-color: #c23e06; 
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
}


a {
    margin-top: 20px;
    color: #ffcbdb; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}